

  <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/schoolhouse.gif" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <h1 id="title"  >{{appTitle}}</h1>
</nav>
