

#null {
    background-color: black;
}
#title {
    
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 100px;
    font-size:40px ;
}
#clues {
    text-align: center; 
    font-size:40px ;
}

input[type=text] {
	
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	font-size: large;
	text-align: center;
	font-weight: 500;
}
.blacksq {
	background-color: black;
}
section{
	align-content: center;
	padding-top: 30px;
}
#supplies{
	padding-bottom: 50px;
	margin-top: 150px;
}
#pencil{
	margin-top: 150px;
}
