
<div class="container">
	<div class="row">
		<div class="col-4">
			<img id="supplies" src="../assets/images/supplies.png"  width="250" height="250" class="d-inline-block align-top" alt="">
		</div>
		<div class="col-6">
		<section>
		<!--Row 1-->
		<div class="row">
		<input class="blacksq" type="text">
		<input  type="text" placeholder="1">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		</div>
		<!--Row 2-->
		<div class="row">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		</div>
		<!--Row 3-->
		<div class="row">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input type="text" placeholder="3">
		<input class="blacksq" type="text">
		</div>
		<!--Row 4-->
		<div class="row">
		<input type="text" placeholder="2">
		<input type="text">
		<input type="text">
		<input type="text">
		<input type="text">
		<input type="text">
		<input type="text">
		<input type="text">
		</div>
		<!--Row 5-->
		<div class="row">
		<input class="blacksq" type="text">
		<input  type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		</div>
		<!--Row 6-->
		<div class="row">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		</div>
		<!--Row 7-->
		<div class="row">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input type="text" placeholder="4">
		<input  type="text">
		<input  type="text">
		<input type="text">
		<input class="blacksq" type="text">
		</div>
		<!--Row 8-->
		<div class="row">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input class="blacksq" type="text">
		<input type="text">
		<input class="blacksq" type="text">
		</div>	
		</section>
		</div>
		<div class="col-1">
			<img id="pencil" src="../assets/images/pencil.jpg" width="200" height="200" alt="">
		</div>
	</div>
</div>



<!-- <table>
<tr *ngFor="let row of squareArray; let i = index">
    <td *ngFor="let col of row; let j = index">
        <div *ngIf="(i % 2) && (j % 2);else other_content">
            
        </div>
        
        <ng-template #other_content>
            <input type="text" [(ngModel)]="squareArray[i][j]">
        </ng-template>
    </td>
</tr>
</table> -->







<div class="container">

<div class="row">
	<div class="col">

	</div>
	<div class="col">
		<br>
		<h2>Clues:</h2>
		<h3>Across</h3>
		<p>2 -used to cut material</p>
		<p>4 -bonds objects together</p>
		<br>
		<h3>Down</h3>
		<p>1 -used to write on paper</p>
		<p>3 -used to rub out writing</p>
	</div>
	<div class="col">

	</div>

</div>
</div>


